.countdown-timer-container {
  margin: 0 auto;
  width: auto;
  text-align: center;
}
.countdown-timer-container .countdown-container {
  /*height: 130px;*/
}
.countdown-timer-container .time {
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  position: relative;
  height: 99px;
  width: 95px;
  margin: 0px 10px;

  -webkit-perspective: 479px;
  -moz-perspective: 479px;
  -ms-perspective: 479px;
  -o-perspective: 479px;
  perspective: 479px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.countdown-timer-container .count {
  color: #f8f8f8;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 53px;
  line-height: 97px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.countdown-timer-container .count.top {
	background-image:URL("../img/flip-top.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*border-bottom: 1px solid rgba(255,255,255,0.1);*/
  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.countdown-timer-container .count.bottom {
  background-image:URL("../img/flip-bottom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.countdown-timer-container .count.next {
}
.countdown-timer-container .label {
  font-size: normal;
  margin-top: 20px;
  display: block;
  position: absolute;
  top: 95px;
  width: 100%;
  font-size: 20px;
}
/* Animation start */
.countdown-timer-container .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.countdown-timer-container .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}
/* Animation end */
.countdown-timer-container .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.countdown-timer-container .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
@media screen and (max-width: 48em) {
  .countdown-timer-container {
    width: 100%;
  }
  .countdown-timer-container .countdown-container {
    height: 100px;
  }
  .countdown-timer-container .time {
      height: 70px;
      width: 48px;
  }
  .countdown-timer-container .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .countdown-timer-container .label {
    font-size: 0.8em;
    top: 72px;
  }
}

.div-spliter {
    width: 6px;
    height: 17px;
    position: absolute;
    top: 41px;
    z-index: 1001;
}

.split-left{
  left: -6px;
  background-image:URL("../../images/honor10lite/split-left.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.split-right{
  right: -6px;
  background-image:URL("../../images/honor10lite/split-right.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1550px) {
  .countdown-timer-container .label{
    font-size: 18px;
  }

  .countdown-timer-container .time{
      height: 90px;
      width: 85px;
  }

  .countdown-timer-container .count{
    font-size: 45px;
    line-height: 90px;
  }

  .countdown-timer-container .label{
      margin-top: 15px;
  }

  .div-spliter{
      top: 36px;
  }
}

@media only screen and (max-width: 1440px) {
  .countdown-timer-container .label{
    font-size: 17px;
    margin-top: 15px;
  }

  .countdown-timer-container .time{
      height: 80px;
      width: 75px;
  }

  .countdown-timer-container .count{
    font-size: 40px;
    line-height: 80px;
  }

  .div-spliter{
      top: 32px;
  }
}

@media only screen and (max-width: 1280px) {
  .countdown-timer-container .label{
    font-size: 15px;
    margin-top: 0px;
    top: 80px;
  }

  .countdown-timer-container .time{
      height: 70px;
      width: 65px;
  }

  .countdown-timer-container .count{
    font-size: 35px;
    line-height: 70px;
  }

  .div-spliter{
      top: 27px;
      width: 4px;
      height: 15px;
  }

  .split-left {
    left: -4px;
  }

  .split-right {
    right: -4px;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-timer-container .label{
    font-size: 12px;
    margin-top: 0px;
    top: 70px;
  }

  .countdown-timer-container .time{
      height: 60px;
      width: 55px;
  }

  .countdown-timer-container .count{
    font-size: 30px;
    line-height: 60px;
  }

  .div-spliter{
      top: 23px;
      width: 4px;
      height: 15px;
  }

  .split-left {
    left: -4px;
  }

  .split-right {
    right: -4px;
  }
}

@media only screen and (max-width: 768px) {
  .countdown-timer-container .label{
    font-size: 10px;
    top: 55px;
  }

  .countdown-timer-container .time{
      height: 50px;
      width: 45px;
  }

  .countdown-timer-container .count{
    font-size: 25px;
    line-height: 50px;
  }

  .countdown-timer-container .time{
      margin: 0px 7px;
  }

  .div-spliter{
      top: 18px;
      width: 4px;
      height: 15px;
  }

  .split-left {
    left: -4px;
  }

  .split-right {
    right: -4px;
  }
}

@media only screen and (max-width: 667px) {
  .countdown-timer-container .label{
      top: 45px;
  }

  .countdown-timer-container .time{
      height: 40px;
      width: 35px;
  }

  .countdown-timer-container .count{
    font-size: 20px;
    line-height: 40px;
  }

  .div-spliter{
      top: 12px;
      width: 4px;
      height: 15px;
  }

  .split-left {
    left: -4px;
  }

  .split-right {
    right: -4px;
  }
}


@media only screen and (max-width: 640px) {
  .countdown-timer-container .label{
      top: 100px;
      font-size: 17px;
  }

  .countdown-timer-container .time{
      height: 80px;
      width: 85px;
      margin: 0px 9px;
  }

  .countdown-timer-container .count{
    font-size: 50px;
    line-height: 80px;
  }

  .countdown-timer-container .countdown-container {
    height: 160px;
  }

  .div-spliter{
      top: 31px;
      width: 6px;
      height: 17px;
  }

  .split-left {
    left: -6px;
  }

  .split-right {
    right: -6px;
  }
}

@media only screen and (max-width: 480px) {
  .countdown-timer-container .label{
      top: 100px;
      font-size: 17px;
  }

  .countdown-timer-container .time{
      height: 74px;
      width: 70px;
      margin: 0px 7px;
  }

  .countdown-timer-container .count{
    font-size: 50px;
    line-height: 80px;
  }

  .countdown-timer-container .countdown-container {
    height: 160px;
  }

  .div-spliter{
      top: 28px;
      width: 6px;
      height: 17px;
  }

  .split-left {
    left: -6px;
  }

  .split-right {
    right: -6px;
  }
}

@media only screen and (max-width: 414px) {
  .countdown-timer-container .label{
      top: 80px;
      font-size: 14px;
  }

  .countdown-timer-container .time{
      height: 64px;
      width: 60px;
      margin: 0px 6px;
  }

  .countdown-timer-container .count{
    font-size: 40px;
    line-height: 64px;
  }

  .countdown-timer-container .countdown-container {
    height: 140px;
  }

  .div-spliter{
      top: 24px;
      width: 4px;
      height: 17px;
  }

  .split-left {
    left: -4px;
  }

  .split-right {
    right: -4px;
  }
}

@media only screen and (max-width: 360px) {
  .countdown-timer-container .label{
      top: 65px;
      font-size: 12px;
  }

  .countdown-timer-container .time{
      height: 54px;
      width: 50px;
      margin: 0px 5px;
  }

  .countdown-timer-container .count{
    font-size: 30px;
    line-height: 55px;
  }

  .countdown-timer-container .countdown-container {
    height: 120px;
  }

  .div-spliter{
      top: 20px;
      width: 4px;
      height: 13px;
  }

  .split-left {
    left: -4px;
  }

  .split-right {
    right: -4px;
  }
}


@media only screen and (max-width: 320px) {
  .countdown-timer-container .label{
      top: 63px;
      font-size: 11px;
  }
}